@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --fundo-nav: #232323;
    --fundo-sidenav: #121212;
    --card-sidenav: #1f1f1f;
    --fundo-principal: black;
    --cor-texto: white;
    --cor-texto-navbar: #b3b3b3;
    --roxo-banner: #af2896;
    --azul-banner: #509bf5;
}

body{
    background-color: var(--fundo-principal);
    color: var(--cor-texto);
    font-family: "DM Sans", sans-serif;
}

header{
    background-color: var(--fundo-principal);
    width: 100%;
}

.navbar{
    margin-top: 20px;
    padding: 0 20px 10px 20px;
    list-style-type: none;

    li{
        padding: 10px 0px;
    }

    a{
        color: var(--cor-texto-navbar);
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        font-family: "DM Sans", sans-serif;
    }
}

.sua-biblioteca{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar{
    position: relative;
    top: 15em;
    left: 0;
    bottom: 0;
    padding: 12px;
    margin: 0 auto;
    width: 90%;
    background-color: var(--fundo-sidenav);
    border-radius: 11px;
}

.sidebar__navigation{
    border-radius: 8px;
    padding: 16px;
}

.logo{
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.nav-principal{
    display: none; /* Ocultar menu */
    padding: 1em 0 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--cor-texto-navbar);
    width: 100%;
}

.nav-principal__buscar{
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.voltar-home{
    background-color: var(--fundo-nav);
    color: var(--cor-texto);
    border-radius: 25px;
    padding: 0.8em;
}

.nav-principal__buscar input, span{
    background-color: inherit;
    border: node;
}

.search-bar{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-nav);
    color: var(--cor-texto);
    border-radius: 25px;
    padding: 0.8em;
}

.search-field{
    display: flex;
    flex-direction: row;
    gap: 1em;

    input{
        border: none;
        color: var(--cor-texto);
        font-weight: 500;
    }

    input:focus{
        outline: none;
    }
}

#resultados{
    border-top: none;
    border-radius: 0 0 25px 25px;
    padding: 0.5em;
    background-color: var(--fundo-nav);

    li{
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
        align-items: center;
    }
}

.invisivel{
    display: none;
}

.titulo-nome{
    color: var(--cor-texto);
    font-weight: 500;
}

.nav-principal__entrar{
    gap: 1em;
    display: none;
    flex-direction: column;
}

.nav-principal__entrar.active {
    display: flex;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--cor-texto);
    width: 2em;
    height: 2.5em;
}

.botao-branco{
    border-radius: 25px;
    padding: 1em;
    background-color: var(--cor-texto);
    color: var(--fundo-principal);
    border: none;
    font-weight: 800;
    width: 50%;
}

.main{
    display: flex;
    flex-direction: column-reverse;
}

.musicas{
    width: 80%;
    margin: 0 auto;
    background-image: linear-gradient(var(--fundo-nav), var(--fundo-principal));
    border-radius: 10px;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.banner-rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, var(--roxo-banner), var(--azul-banner));
    color: var(--cor-texto);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h5{
            font-size: 0.9em;
            font-weight: 600;
        }
    }

    button{
        margin: 0 auto;
        font-weight: 800;
    }
}

.musicas__section__titulo{
    font-size: 1.5em;
    font-weight: 600;
}

.lista-artistas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em 0;
}

.musicas img{
    width: 200px;
    border-radius: 10px;
}

.musicas img:hover{
    width: 170px;
    filter: brightness(120%);
    transition: 0.3s;
}

.artista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.artista h5{
    font-size: 1.1em;
    font-weight: bold;
}

.artista-redondo img{
    border-radius: 50%; 
}

.rodape{
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

.links h6{
    font-weight: 700;
}

.links h6, li{
    margin-bottom: 1em;
}

.redes-sociais ul{
    display: flex;
    flex-direction: row;
    gap: 2.5em;

    li span{
        padding: 0.5em 0.5em 0.1em 0.5em;
        border-radius: 40px;
        background-color: var(--cor-texto);
        color: var(--cor-texto-navbar);
        font-size: 1.5em;
    }
}

.sidebar__card{
    background-color: var(--card-sidenav);
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar__footer{
    position: relative;
    top: 5em;
}

.sidebar__footer ul{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
    font-size: smaller;

    li a{
        text-decoration: none;
        color: var(--cor-texto-navbar);
    }

    li:last-child{
        color: var(--cor-texto);
    }
}

.botao-lingua{
    width: fit-content;
    border: 1px solid  var(--cor-texto);
    border-radius: 25px;
    gap: 0.8em;
    color: var(--cor-texto);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

/*
mobile: 576px;
tablet: 768px;
desktop: 992px;
*/
@media only screen and (min-width: 768px) { 
    .nav-principal{
        flex-direction: row;
        justify-content: space-around;
    }

    .main{
        flex-direction: row;
    }

    .sidebar{
        top: 0;
        width: 30%;
    }

    .musicas{
        width: 55%;
        padding-bottom: 10em;
    }

    .lista-artistas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .artista img{
        width: 150px;
    }

    .links{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 992px) { 
    .menu-toggle{
        display: none;
    }

    .nav-principal__entrar{
        display: flex;
        flex-direction: row !important;
        align-items: center;

        button{
            width: max-content;
        }
    }

    .banner-rodape{
        justify-content: space-around;
        flex-direction: row;
        gap: 0;
        button{
            margin: 0;
            width: max-content;
        }
    }

    .rodape{
        flex-direction: row;
    }
}